@font-face {
  font-family: 'ApercuArabicPro';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: 
    url('./ApercuArabicPro-Light.woff2') format('woff2'),
    url('./ApercuArabicPro-Light.ttf') format('ttf')
  ;
}
