@import url('./fonts/fonts.css');

:root {
  --pink-color: #f472b7;
  --yellow-color: #fad34f;
  --green-color: #46ebb0;
  --text-primary-color: #3e3e3e;
  --text-secondary-color: #2d2d2d;
  --text-contrast-color: #fff;
  --white-color: #fff;
  --border-color: #dcdcdc;
  --input-padding: 30px 46px;
  --error-color: #f472b7bb;
  --correct-color: #46ebb0bb;
}

body {
  margin: 0;
  font-family: 'ApercuArabicPro', 'Segoe UI', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
