@import url('./fonts/fonts.css');

:root {
  --pink-color: rgb(244, 114, 183);
  --yellow-color: #fad34f;
  --green-color: rgb(70, 235, 176);
  --text-primary-color: #3e3e3e;
  --text-secondary-color: #2d2d2d;
  --white-color: #fff;
  --border-color: #dcdcdc;
  --input-padding: 30px 46px;
  --error-color: rgba(244, 114, 183, 0.8);
  --correct-color: rgba(70, 235, 176, 0.8);
}

body {
  margin: 0;
  font-family: 'ApercuArabicPro', 'Segoe UI', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

